/* CSS Document */
#catIframe {position: fixed; width: 400px; padding: 50px 0; margin-left: 1000px; margin-top: 600px; z-index: 99;}

body,html{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}

div #cat{
	width: 200px;
	height: 200px;
}
.m1,img.menu,#leftmenu,.right,.zhutu,.fudong{
	border-radius: 10px;
}

#leftmenu{
	width: 150px;
	height: 300px;
	float: left;
	margin-top: 10%;
	margin-left:20px;
	position: fixed;
	z-index: 90;
}

img.menu{
	width: 100%;
	height: 30%;
	padding: 0 2px 0 2px;
}

.m1{
	width: 100%;
	height: 80%;
	background-color: aqua;
	padding:50px 2px 0 2px;
	filter: alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;

}

.m1 ul a{font-family: '微软雅黑';font-size: 14px;color: #333;text-decoration: none;}
.m1 ul a:hover{color: #000;text-decoration: none;}
.m1 ul li{width: 100%;height: 35px; line-height: 35px;text-align: center;position: relative;}
.m1 ul li:hover{background: #c1c1c1;}
.m1 ul{width: 100%; height: auto; margin: 0; padding: 0; position: absolute;background: #DADADA;list-style: none;}
.m1 .nav1{position: relative!important;}
.m1 ul.nav2{left: 100%;top: 0;display: none;}
.m1 .nav1 .li1:hover ul.nav2{display: block;background: #c1c1c1;}

.zhong{
	width: 55%;
	height: 1300px;
	background-color: wheat;
	margin: 20px 0 20px 18%;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	float: left;
}
.ztu{
	text-indent: 2em;
}

.zhutu{
	width: 80%;
	height: 25%;
	background-image: url("image/tou.jpg");
	background-size: contain;
}

.right{
	float: right;
	width: 300px;
	height: 400px;
	background-color: aqua;
	margin-top: 12%;
	margin-left: 80%;
	position: fixed;
	filter: alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
}

.jianjie{
	width: 70%;
	height:auto; overflow:hidden;
	min-height: 800px;
	background-color: wheat;
	margin: 20px 0 20px 20%;
	border-radius: 10px;
	padding: 30px 20px 20px 7%;
	float: left;
}

.title-text{
	font: 12px/1.5 arial,'\5b8b\4f53',sans-serif;
	line-height: 20px;
	font-family: Microsoft YaHei,SimHei,Verdana;
	margin: 0;
	padding: 0;
	color: mediumvioletred;
	font-size: 20px;
	font-weight: 400;
}

.guandon{
	text-align: center;
    height: 400px;
	background-size: contain;
	border-radius: 10px;
	margin-bottom: 5px;
}
.guandon .tu{
	height: 400px;
	background-size: cover;
}




















